.list, div{
    border: 1px solid #347b98;
    border-radius: 10px;
    display: inline-block;
    padding: 0px;
    height: 250px;
    width: 250px;
    vertical-align: top;
    margin-right: 20px;
    
}

.list h3{
    background-color: #e4f1f6;
    margin-top: 0px;
    line-height: 2em;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.list ul ul {
    padding-left: 20px;
}